GREENSHADES_CLIENT_ID=client_id
GREENSHADES_CLIENT_SECRET=client_secret
GREENSHADES_API_SCOPE=GO.Api.COR.read, GO.Api.PAY.read, GO.Api.PAY.Setup.read, GO.Api.PAY.PayRuns.read, GO.Api.PAY.Reporting.read
GREENSHADES_WORKSPACE_ID=workspace_id
GREENSHADES_WORKSPACE_NAME=Company A LLC,Company B Inc
GREENSHADES_WEBHOOK_HMAC_SECRET=gs-webhook-secret-placeholder